<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrir Ticket</title>
</head>
<body>
    <h1>Abrir Novo Ticket</h1>
    <form method="post" action="{{ url_for('abrir_ticket') }}">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" required><br>

        <label for="descricao">Descrição:</label>
        <textarea name="descricao" required></textarea><br>

        <input type="submit" value="Abrir Ticket">
    </form>
    <a href="{{ url_for('index') }}">Voltar para a Lista de Tickets</a>
</body>
</html>
